<div id="viewContainer">
<div id= 'viewMenu'>
    <h1 class='viewTitles'>Create Account</h1>
    <br/>
    <br/>
    First Name:
    <input id='firstname'class='register'type='text'>
    <br/>
    <br/>
    Last Name:
	<input id='lastname'class='register'type='text'>
    <br/>
    <br/>
    Email Addr:
    <input id='email'class='register'type='text'>
    <br/>
    Username:
    <input id='username'class='register'type='text'>
    <br/>
    <br/>
    Password:
    <input id='password'class='register'type='password'>
    <br/>
    <br/>
    Admin Key:
    <input id='admin_key' type='password'>
    </form>
    <br/>
    <br/>
        <br/>
    <button id='createAccBtn'>Create!</button>
    
    <div class ="alert alert-danger" id="createAcc-mess"></div>
    </div>
</div>